* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --LIGHT-MODE-BG-COLOR: rgb(213, 189, 174);
  --FONT-COLOR: rgb(237, 237, 233);
  --FONT-COLOR1: rgb(245, 235, 224);
  --DARK-MODE-BG-COLOR: rgb(88, 91, 86);
  --DARK-MODE-BG-COLOR1: rgb(12, 24, 33);
  --FONT-SIZE: 1rem;
  --FONT-SIZE1: 1.5rem;
  --BIG-FONT-SIZE: 4rem;
}
body {
  min-height: 100vh;
  font-size: var(--FONT-SIZE);
  font-family: cursive;
  background-color: var(--LIGHT-MODE-BG-COLOR);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
button {
  width: 15rem;
  height: 3.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0 0.4rem 0;
  background-color: #475535;
}
div {
  width: 3rem;
  height: 3rem;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  float: left;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}
h4 {
  text-align: center;
}
