* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 5, 6, 0.5);
}
.button {
  width: 12rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  background-color: rgba(33, 88, 11, 0.7);
  text-align: center;
  box-shadow: 0 0 10px black;
}
.button i {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.4rem;
}
.button::before,
.button::after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  transition: all 0.5s;
}
.button::before {
  top: -0.5rem;
  left: -0.5rem;
  border-top: 3px solid black;
  border-left: 3px solid black;
}
.button::after {
  bottom: -0.5rem;
  right: -0.5rem;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.button:hover::after,
.button:hover::before {
  width: 90%;
  height: 90%;
}
.button:hover {
  background-color: rgba(33, 88, 11);
  cursor: pointer;
}
